p{
    color: gold;
}
a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-size: 50px;
    text-transform: uppercase;
    line-height: 1.8;
    letter-spacing: 2px;
    text-align: center;
    font-weight: bold;
}
span{
    background-color: aquamarine;
    margin-left: 50px;
        margin-right: 150px;
        margin: 20px, 5px;
    padding: 10px;
    border: rgb(160, 53, 53), 1px, solid;
}
    #specialDiv{
        background-color: purple;
        padding: 10px;
        border: yellow 10px dotted;
        margin-bottom: 200px;
        margin-top: 50px;
    }
.highlight{
    background-color: lightyellow;
}

