body {
    transition: background-color 5s ease-out;
    background-color: rgb(157, 219, 255);
}

body.flash {
    animation: flashBg 2s;
}

@keyframes flashBg {
    from {
        background-color: white;
    }

    to {
        background-color: grey;
    }
}

#start {
    font-size: 25px;
    width: 140px;
    color: white;
    border-radius: 5px;
    background-color: rgb(106, 151, 234);
    transition: transform 0.5s ease-out;
}

.normalRainDrop {
    color: white;
    position: absolute;
    cursor: pointer;
    animation: fall 20s ease-in;
}

.notNormalRainDrop {
    cursor: pointer;
    animation: fall 20s ease-in;
}

@keyframes fall {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100px);
    }
}

.lightening {
    color: darkblue;
    font-size: 500px;
    position: absolute;
    top: -100px;
    left: 40%;
    z-index: 10;
    animation: disappear 2s forwards;
}

@keyframes disappear {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}

.umbrella {
    color: rgb(140, 3, 3);
    font-size: 100px;
    position: absolute;
    top: 100px;
    z-index: 5;
    cursor: pointer;
    animation: shake 5s ease-in-out 0.5s forwards;
}

.umbrella.spinning {
    animation: spin 1s linear infinite;
}

@keyframes shake {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(-30px, 40px);
    }

    50% {
        transform: translate(30px, 80px);
    }

    75% {
        transform: translate(-30px, 120px);
    }

    100% {
        transform: translate(0, 160px);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.number {
    font-size: 150px;
    background-color: black;
    color: white;
    animation: spin 1s linear infinite;
}