body {
    background-color: rgb(119, 76, 29);
}

.wrapper {
    width: 100%;
    max-width: 900px;
    height: 300px;

    display: flex;
    justify-content: center;

    margin: auto;
    margin-top: 200px;
    position: relative;
}



.minutes {
    width: 350px;
    height: 100%;
    color: rgb(58, 112, 162);
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    /* outline: blue 3px dashed; */
}

.minutes img {
    position: absolute;
    width: 600px;
    height: 600px;
    object-fit: contain;
    /* i googled it ↑*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hours {
    width: 350px;
    height: 100%;
    font-size: 150px;
    color: rgb(58, 112, 162);
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 2;
}

.seconds {
    width: 900px;
    height: 900px;
    display: flex;
    /* flex-direction: row; */
    /* background-color: rgb(91, 55, 138);  */
    border-radius: 50%;
    position: absolute;
    margin: 0 auto;
    z-index: -1;
}

.seconds div {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid rgb(234, 181, 121);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.original-bird,
.new-bird {
    position: absolute;
    width: 350px;
    height: 300px;
    object-fit: contain;
    z-index: 3;
}

.new-bird {
    display: none;
}

.hours img.poop {
    width: 35px;
    height: 30px;
    position: absolute;
    object-fit: contain;
    /* top: 50px;
    left: 50px; */
    z-index: 4;
}