body.first {
    background-color: rgb(169, 49, 49);
    margin: 0px;
    padding: 20px;
    min-height: 25000px;
}

.teeth {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.top,
.flip {
    display: flex;
    width: 100%;
    /* height: auto; */
    /* gap: 0px; */
    justify-content: center;
}

.top img,
.flip img {
    /* width: 450px;    */
    /* height: auto;*/
    margin: 0 -100px;

}

.flip img {
    transform: rotate(180deg);
}

.special {
    cursor: pointer;
    z-index: 10;

}

.special:hover {
    opacity: 0.8;
}

.falling {
    position: fixed;
    /* top: 50%; */
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
    display: none;
    /* animation: shake 0.2 infinite; */
}

.hand-moving {
    animation: moveHand 3s forwards;
    z-index: 15;
}

@keyframes shake {
    0% {
        transform: translateX(-50%) rotate(-5deg);
    }

    25% {
        transform: translateX(-45%) rotate(5deg);
    }

    50% {
        transform: translateX(-50%) rotate(-5deg);
    }

    75% {
        transform: translateX(-55%) rotate(5deg);
    }

    100% {
        transform: translateX(-50%) rotate(-5deg);
    }
}

@keyframes moveHand {
    from {
        right: 900px;
    }

    to {
        right: 500px
    }
}

.swirl {
    position: absolute;
    width: 1000px;
    z-index: 1;
}

body.bed {
    background-color: rgb(32, 32, 96);
}


.pillowCase {
    display: inline;
}

.pillow {
    width: 700px;
    position: relative;
}


.tooth-box {
    width: 150px;
    /* outline: pink 1px solid; */
    height: 150px;
    display: inline-block;
    position: relative;
}

.tooth {
    /* width: 200px;
    position: relative;
    left: 1000px;
    top: 300px;
    z-index: -1; */
    position: absolute;
    left: -120px;
    top: -50px;
}

.tooth-box .pillow {
    position: absolute;
    left: -250px;
    top: -160px;
}

body.fairy-page {
    background-color: rgb(66, 2, 66);
}

.whole-screen {
    display: flex;
    height: 100vh;
}

.left-panel,
.right-panel {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    outline: dashed rgb(255, 255, 255) 2px;
}

.left-panel {
    background-color: paleturquoise;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.left-top {
    flex: 1;
    position: relative;
    padding: 20px;
}

.left-bottom {
    background-color: paleturquoise;
    display: none;
    padding: 20px;
    position: relative;
}

.right-panel {
    background-color: rgb(32, 32, 96);
}

.right-panel img {
    width: 400px;
    position: relative;
    top: 150px;
}

.phone {
    animation: shaking 1s infinite;
    width: 600px;
}

.phone2 {
    position: absolute;
    left: 120px;
    bottom: 500px;
    animation: shakee 3s infinite;
}

.chat {
    width: 400px;
    left: 300px;
    bottom: 500px;
    position: absolute;
}

@keyframes shaking {
    0% {
        transform: translateX(0%) rotate(0deg);
    }

    25% {
        transform: translateX(3%) rotate(3deg);
    }

    50% {
        transform: translateX(-3%) rotate(-3deg);

    }

    75% {
        transform: translateX(3%) rotate(3deg);

    }

    100% {
        transform: translateX(0%) rotate(0deg);
    }

}

@keyframes shakee {
    0% {
        transform: translateX(0%) rotate(-40deg);
    }

    25% {
        transform: translateX(3%) rotate(-35deg);
    }

    50% {
        transform: translateX(-3%)rotate(-40deg);

    }

    75% {
        transform: translateX(3%) rotate(-35deg);

    }

    100% {
        transform: translateX(0%) rotate(-40deg);
    }

}

.right-panel img.door {
    position: relative;
    left: 350px;
    width: 400px;
    top: 80px;
}

.left-panel img.door2 {
    position: absolute;
    left: 350px;
    width: 400px;
    bottom: 50px;
}

.fairyy.small {
    width: 300px;
}

.phone2.small {
    width: 300px;
    left: 100px;
    bottom: 150px;
}

.chat.small {
    width: 200px;
    left: 280px;
    bottom: 200px;
}

.left-panel img.door2.small {
    position: absolute;
    width: 200px;
    left: 400px;
    bottom: 25px;
}

.cappu {
    position: absolute;
    left: -50px;
    top: 100px;
}

.chat2 {
    position: absolute;
    left: 350px;
    top: 50px;
    width: 200px;
}

.phone3 {
    position: absolute;
    left: 150px;
    top: 0px;
    width: 300px;
    animation: shakee 3s infinite;
}

.left-bottom img.door3 {
    position: absolute;
    left: 400px;
    top: 250px;
    width: 200px;
}